#div3d
  #mainDiv.mainDiv


#backgroundMenu.uiClosed(style=' position: fixed; left:100px; top:180px;')
  | backgroud color:
  br
  input#background(style='width:160px;', type='text', name='background', placeholder='color, hex or rgb(0,0,255)', onChange='setBackground("background")', onfocus="typing=true;", onblur="typing=false;")
  br
  | background image:
  br
  input#backgroundImage(style='width:160px;', type='text', name='backgroundImage', placeholder='enter blank space to clear', maxlength='600', onChange='setBackground("backgroundImage")', onfocus="typing=true; ", onblur="javascript:typing=false;")
  br
  form(name='bgType')
      input(type='radio', name='bgType', value='',onclick='setBackground("display")')
      | tile
      br
      input(type='radio', name='bgType', value='cover',onclick='setBackground("display")')
      | full screen    
      br  br
  //div
    a(href='http://gradients.glrzad.com', title='select the code inside ( ); for webkit') gradients.glrzad.com (hvr fr tip)
  .x
    a(href='javascript:openMenu(\'backgroundMenu\');') x

////add/////

#addMenu.uiClosed(name='addMenu', style='position: fixed; left:300px; top:200px; width:auto;padding:5px')
  |ADD:
  div(style="font-size:13px;padding:5px")
      a(href="javascript:addMenu(\'image\');")
        |Image | 
      a(href="javascript:addMenu(\'text\');")
        |Text | 
      a(href="javascript:addMenu(\'media\');")
        |Media | 
      a(href="javascript:addMenu(\'div\');")
        |Div
  #imageContainer(style="padding:5px;display:block")
    | image url:
    br
    input#gifUrlA(style='width:160px;', type='text', name='gifUrlA', placeholder='http://blahblah.gif',onfocus="typing=true; ", onblur="typing=false;")
    br
    | repetitions:
    br
    input#addNumber(style='width:160px;', type='text', name='addNumber', value='1', maxlength='1/',onfocus="value=''")
    br
    br
  
  #textContainer(style="padding:5px;display:none")
    textarea#addContent.tinymce
  
  #mediaContainer(style="padding:5px;display:none; ")
    | youtube link:
    br
    input.mediaAdd(style='width:220px;', type='text', id='youtubeUrl', placeholder='http://youtube.com/xxxx',onfocus="typing=true; ", onblur="typing=false;")
    br
    br
    | vimeo link:
    br
    input.mediaAdd(style='width:220px;', type='text', id='vimeoUrl', placeholder='http://vimeo.com/555555',onfocus="typing=true; ", onblur="typing=false;")
    br
    br
    | soundcloud embed:
    br
    textarea.mediaAdd(style='width:220px;', type='text', id='soundCloud', placeholder='paste soundcloud embed code here',onfocus="typing=true; ", onblur="typing=false;")
    br
    br
    | mp3/mov embed:
    br
    input.mediaAdd(style='width:220px;', type='text', id='mp3', placeholder='http://domain.com/sound.mp3',onfocus="typing=true; ", onblur="typing=false;")
    br
    br
    | other:
    br
    textarea(style='width:220px; height:40px', type='text', name='embed', id="media", placeholder='paste embed code here',onfocus="typing=true; ", onblur="typing=false;")
    br
  #divContainer(style="padding:5px;display:none")
    | background color:
    br
    input#divBgUrl(style='width:160px;', type='text', id='divColor', placeholder='name, hex or rgba(r,g,b,a)',onfocus="typing=true; ", onblur="typing=false;")
    br
    | background image url:
    br
    input#divBgUrl(style='width:160px;', type='text', id='divBgUrl', placeholder='http://blahblah.gif',onfocus="typing=true; ", onblur="typing=false;")
    br
    | preset: 
    form(name='divType')
      input(type='radio', name='geoPreset', value='sPlane', checked='CHECKED')
      | flat div
      br
      input(type='radio', name='geoPreset', value='hPlane')
      | ground plane
      br
      input(type='radio', name='geoPreset', value='vPlane')
      | wall plane    
      br
    br  
  input(type='checkbox', id='add2d')
  |no 3d transforms? 
  br

  div(style="padding:0px")
    input#add.button(style='width:175px;', type='button', name='addGif', value='add', onclick="addNewImg()")
  .x(style='position:absolute; right:0; top:0; border: 1px white;')
    a(href='javascript:openMenu(\'addMenu\');') x
// 
////replace/////

#editMenu.uiClosed(name='editMenu', style='position: fixed; width:auto;	left: 140px;top:70px;')
  |EDIT:
  div(style="font-size:13px;padding:5px 0 5px 0")
      a(href="javascript:addMenu(\'editImage\');")
        |Image | 
      a(href="javascript:addMenu(\'editText\');")
        |Text | 
      a(href="javascript:addMenu(\'editMedia\');")
        |Media | 
      a(href="javascript:addMenu(\'editDiv\');")
        |Div
  #editImageContainer(style="padding:0px;display:block")
    |edit image url:
    <br>
    input#editImage.editType(style='width:155px;', type='text', placeholder='http://blahblah.gif')
    br
    input#keyOut.button(style='width:160px;', type='button', name='keyOut', value='Key-Out White', onclick="keyOut()")
    br
    |(wait for url to refresh)
    br
    |more img effects here: 
    br
    a(href="http://asdf.us/im/", target='blank') http://asdf.us/im/
    br 
    //form(name='f2')
    //  input(type='radio', name='replaceType', value='one', checked='CHECKED')
    //  | selection
    //  input(type='radio', name='replaceType', value='all')
    //  | all
  
  #editTextContainer(style="padding:0px;display:none")
    textarea#editContent.editType.tinymce
  
  #editMediaContainer(style="padding:0px;display:none")
    | youtube link:
    br
    input.mediaEdit(style='width:220px;', type='text', id='editYoutubeUrl', placeholder='http://youtube.com/xxxx',onfocus="typing=true; ", onblur="typing=false;")
    br
    br
    | vimeo link:
    br
    input.mediaEdit(style='width:220px;', type='text', id='editVimeoUrl', placeholder='http://vimeo.com/555555',onfocus="typing=true; ", onblur="typing=false;")
    br
    br
    | soundcloud embed:
    br
    textarea.mediaEdit(style='width:220px;', type='text', id='editSoundCloud', placeholder='paste soundcloud embed code here',onfocus="typing=true; ", onblur="typing=false;")
    br
    | mp3/mov embed:
    br
    input.mediaEdit(style='width:220px;', type='text', id='editMp3', placeholder='http://domain.com/sound.mp3',onfocus="typing=true; ", onblur="typing=false;")
    br
    br
    | other:
    br
    textarea.editType.mediaEdit(style='width:220px;height:100px', type='text', name='embed', id="editMedia", placeholder='paste embed code here',onfocus="typing=true; ", onblur="typing=false;")
    br
  #editDivContainer(style="padding:0px;display:none")
    | background color:
    br
    input#editBackgroundColor.editType(style='width:160px;', type='text', placeholder='name, hex or rgba(r,g,b,a)',onfocus="typing=true; ", onblur="typing=false;")
    br
    |background image url:
    br
    input#editBackgroundImage.editType(style='width:160px;', type='text', placeholder='http://blahblah.gif',onfocus="typing=true; ", onblur="typing=false;")
    br
    |width:  
    input#editWidth(style='width:50px;display:inline;', type='text')
    br  
    |height: 
    input#editHeight(style='width:50px;display:inline;', type='text') 
  
  input(type='checkbox', id='edit2d')
  |no 3d transforms? 
  br
  div(style="padding:0px")
    input#replace.button(style='width:160px;', type='button', name='replace', value='replace', onclick="replaceImg()")
    
  .x
    a(href='javascript:openMenu(\'editMenu\');') x
//
////delete/////

#deleteMenu.uiClosed(name='deleteMenu', style='position: fixed; left:200px; top:80px; width:160px;')
  form(name='f1')
    input(type='radio', name='deleteType', value='one', checked='CHECKED')
    | last image
    input(type='radio', name='deleteType', value='all')
    | all
    br
  | (shortcut: Ctrl X)
  br
  input#delete.button(style='width:160px;', type='button', name='delete', value='delete', onclick="deleteImage()")
  .x
    a(href='javascript:openMenu(\'deleteMenu\');') x
//
////last id - hidden/////

input#lastId(type='hidden', name='lastId')
//
////add/////

#helpMenu.uiClosed(name='helpMenu', style='left:300px;border:1px solid grey; padding:0;padding-top:15px; top:50px; width=300px')
  div(style='background-color:white;  padding: 15px; width:340px; height:500px;overflow:auto; font-size:14px;color:black')
    b Walk Around:
    br
    img(src='http://s3.amazonaws.com/gifpumper/ui/wasd.png',height='60px') 
    |  or arrow keys
    br
    b Rotate Canvas:
    br
    //div(style:'margin:-15px')
    img(src='http://s3.amazonaws.com/gifpumper/ui/space.png',height='30px')
    br
    br
    b Move element:
    br
    |  click and drag
    br
    br
    b Resize:
    br
    img(src='http://s3.amazonaws.com/gifpumper/ui/shift_key.png',height='35px')
    |  and drag
    br
    br
    b Move forward/back:
    br
    img(src='http://s3.amazonaws.com/gifpumper/ui/alt_key.jpg',height='35px')
    |   drag up/down
    br
    br
    b Rotate around Z:
    br
    img(src='http://s3.amazonaws.com/gifpumper/ui/letter_z.png',height='35px')
    |  drag left/right
    br
    br
    b Rotate around the X/Y:
    br
    img(src='http://s3.amazonaws.com/gifpumper/ui/letter_x.png',height='35px')
    |  drag
    br
    br
    b Delete element: 
    br
    img(src='http://s3.amazonaws.com/gifpumper/ui/ctrl%20key.png',height='35px')
    | 
    img(src='http://s3.amazonaws.com/gifpumper/ui/letter_x.png',height='35px')
    br
    br
    br
    b Tips:
    br
    | - set page privacy in Page->Settings menu
    br
    | - most menus can be accessed by hitting Shift and the first letter of the menu
    br
    | - save versions of pages in Page menu (version cannot be edited, page owner can delete versions)
    br
    br
    b Info:
    br
    | Gifpumper is a communal web creation platform. All changes are seen by everyone
    br
    | instantaneously, enabling realtime collaboration between many users.
    br
    br
    | For questions, suggestions and feedback post a msg on <a href="javascript: goToPage('balasan','profile')">balasan's profile</a> or on the 
    a(href='http://www.facebook.com/pages/gifpumpercom/117231671686998') gifpumper facebook page
    br
    br 
    | Gifpumper was created by Slava Balasanov with support from 
    a(href="http://eyebeam.org",target='blank') Eyebeam
    br
    br
    | props to ryz from 
    a(href="http://asdf.us",target='blank') http://asdf.us
    |  for the key-out tool
    br
  .x
    a(href='javascript:openMenu(\'helpMenu\');buttonPress("help");') x
//
////more pages/////

#moreMenu.uiClosed(name='moreMenu', style='left:400px; top:100px; width:160px;')
  | create new page:
  br
  input(style='width:160px;', type='text',id='newPage', name='newPage', placeholder='enter unique page name', onfocus="typing=true", onblur="typing=false")
  //textarea.addEditors(style='width:auto;', type='text',id='newPage', name='newPage', placeholder='enter user name', onfocus="value='', typing=true",onblur="typing=false", onKeyPress="searchPages();")
  br
  input#makeNew.button(type='submit', style='width:78px;', name='makeNew', value='new page',onclick="addPage(false)")
  | 
  input#save.button(style='width:78px;', type='submit', name='save', value='save as',onclick="addPage(true)")
  br
  | *you must login to create your own page
  .x
    a(href='javascript:openMenu(\'moreMenu\');') x

////page settings/////

#pageMenu.uiClosed(name='pageMenu', style='left:400px;')
  form(name='privacyForm')
    //|2D page? 
    //input(type='checkbox', id='2d')
    //br
    //br
    | Set Page Privacy:
    br
    -var check = false
    -if (privacy==0)
      -check=true
    input(type='radio', name='privacy', value='0',checked=check)
    | public
    br
    -var check = false
    -if (privacy==1)
      -check=true
    input(type='radio', name='privacy', value='1',checked=check)
    | only i can add/remove images
    br
    -var check = false
    -if (privacy==2)
      -check=true
    input(type='radio', name='privacy', value='2',checked=check)
    | only i can make changes
    br
    -var check = false
    -if (privacy==3)
      -check=true
    input(type='radio', name='privacy', value='3',checked=check)
    | invisible
    br
  br
  |add editors:
  br
  textarea.addEditors(style='width:auto;', type='text',id='addEditors', name='addEditors', placeholder='enter user name', onfocus="value='', typing=true",onblur="typing=false", onKeyPress="searchUsers();")
  #searchResults
  input#pageSettings.button(type='submit', style='width:78px;', name='pageSettings', value='Save',onclick='setPrivacy()') 
  //| 
  //input#deletePage.button(type='submit', style='width:78px;', name='deletePage', value='Delete Page',onclick='deletePage()')
  .x
    a(href='javascript:openMenu(\'pageMenu\');') x

-if(loggedIn)
     script()
       var user='#{user}'


#loginMenu.uiClosed(name='loginMenu', style=' left:200px; top:150px; width:160px;')
  //div(style="float:left") LOGIN
  //br
  -if(loggedIn)
    script()
      var loggedIn = true
  -else
   script()
      var loggedIn = false
  | Username:
  //span(class="regClass", id="unique",style="display:none;") (must be unique)
  form(action='/login', name='logIn', method='POST', enctype='application/x-www-form-urlencoded')
    input(style='width:155px;', type='text', name='username', value='', size='32', maxlength='32', onfocus="typing=true", onblur="typing=false")
    br
    | Password:
    br
    input(style='width:155px;', type='password', name='password', value='', size='32', maxlength='32', onfocus="typing=true", onblur="typing=false")
    br
    div(class="regClass", style="display:none;")
      | Password Again:
      br
      input(style='width:155px;', type='password', name='passwordAgain', value='', size='32', maxlength='32',onfocus="typing=true", onblur="typing=false")
      | Email: (optional)
      //br 
      //| used for password recovery:
      br
      input(style='width:155px;', type='email', name='email', value='', size='32', maxlength='32',onfocus="typing=true", onblur="typing=false")
      br
    br
    //div(style="display:inline; width:100%")
    input.button(type='submit',class="loginClass", name='login', value='login',style='width:78px;')
    input.button(type='submit',class="regClass", name='register', value='register', style="width:78px; display:none;", onclick="javascript:registerFunc(); return false;")
    input.button(type='submit', id="logOut", name='logout', value='logout', style='width:78px;float:right;display:none')
      //br
      //br
      //| 
    div(style="display:inline; position:absolute; right:10px;bottom:10px")
      //div(style="display:inline")=user
      div(style="float:right;display:block",class="loginClass")
        a(href='javascript:switchToRegister();') REGISTER
      div(style="float:right; display:none",class="regClass")
        a(href='javascript:switchToLogin();') LOGIN
  .x
    a(href='javascript:openMenu(\'loginMenu\');') x



#saveMenu.uiClosed(style='left:400px; top:100px;')
  //|Save page in this site:
  //br
  //input#sightName(style='width:155px;', type='text', name='siteName', value='', size='32', maxlength='32', onfocus="typing=true", onblur="typing=false")
  br
  |Version Name:
  br
  input#versionName(style='width:155px;', type='text', name='versionName', value='', size='32', maxlength='32', onfocus="typing=true", onblur="typing=false")
  br
  input#pageSettings.button(type='submit', style='width:78px;', name='saveVersion', value='Save Version',onclick='saveVersion()') 
  .x
    a(href='javascript:openMenu(\'saveMenu\');') x


//input#console1(class='console1',id='console1', style='background-color:white; width:100%; top:0px; left:0px; margin-left:5px; margin-right:5px; z-index:999;', type='text', value='', size='100')

//#topBar(style="position:fixed;top:0px;left:0;width:100%;height:26px;background:rgba(255,255,255,.5);")

#menuContainer.gpui(style="z-index:10002;top:5px;left:5px;position:fixed;")
  div(style="float:left;z-index:200000;margin-right:4px;padding-right:4px;position:relative")
    //-if(loggedIn || page=='invite')
    #editElementButton.menuButton.dropButton(onclick='javascript:buttonPress("editElement");')
      |Content
    | 
    #editPageButton.menuButton.dropButton(onclick='javascript:buttonPress("editPage");')
      |Page
    | 
    #animateButton.menuButton(onclick='javascript:animate();javascript:buttonPress("animate");')
      |Animate
    | 
    #helpButton.menuButton(onclick='javascript:openMenu(\'helpMenu\');buttonPress("help");')
      |Help
    &nbsp   
    //-else
    //  a(href='/') GIFPUMPER.COM
    //pageInfoDiv(style="float:right")     
#likePageButton(style="z-index:10002;top:5px;left:250px;position:fixed;")
    a()
          #likeButtonText(style="float:left;cursor:pointer",onclick="likePage()")
          #likeIm(style='float:left;position:relative;display:none;cursor:pointer',onclick="likePage()") 
    #pageName(style="padding:0;padding-right:4px;float:left;width:auto;")
    div(class="fb-like",id="fb-like", data-href="http://gifpumper.com/forest", layout="button_count", data-send="false",   data-width="90", data-show-faces="false", style="float:left;width:90px")


#editElementMenu.menu(style="display:none;position:fixed;")
      //div.menuDiv(style="font-size:10px;color:rgba(255,0,0,.6);padding:4px;") 
        |-elements 
      div.menuDiv.mainMenu 
        a(href='javascript:openMenu(\'addMenu\');') ⇧A Add
      div.menuDiv.profileOnly 
        a(href='javascript:openMenu(\'addMenu\');') ⇧A Profile Image
      //div.menuDiv.mainMenu  
        a(href='javascript:openMenu(\'replaceMenu\');') ⇧R Replace
      div.menuDiv.mainMenu 
        a(href='javascript:openMenu(\'editMenu\');fillEditMenu()') ⇧E Edit
      div.menuDiv.mainMenu  
        a(href='javascript:openMenu(\'deleteMenu\');') ⇧D Delete
      div.menuDiv.mainMenu 
        a(href='javascript:openMenu(\'backgroundMenu\');') ⇧B Background
      div.menuDiv.profileOnly 
        a(href='javascript:openMenu(\'backgroundMenu\');') ⇧B Background
   
#editPageMenu.menu(style="display:none;position:fixed;")
      //div.menuDiv(style="font-size:10px;color:rgba(255,0,0,.6);padding:4px;") 
        |-page 
      div.menuDiv 
        a(href='javascript:openMenu(\'moreMenu\');') ⇧N New
      #saveButton.menuDiv
        a(href='javascript:saveVersion()') ⇧S Save
      #settingsButton.menuDiv(style="display:block")
          a(href='javascript:openMenu(\'pageMenu\');') ⇧P Privacy
      //#deleteVersion.menuDiv(style="display:block")
          a(href='javascript:deleteVersion();') New Site
      #deleteVersion.menuDiv(style="display:block;padding-left:10px")
          a(href='javascript:deleteVersion();') 
            |--Delete--
      //div.shortCut


//
  #shortMenu.moveable(style='position:fixed; left:10px; top:10px; z-index:999')
   div(style='float:left;')
    a(href='javascript:openMenu(\'helpMenu\');') ⇧+click+drag
    |  | 
    a(href='javascript:openMenu(\'helpMenu\');') ⌥ (alt)+click+drag
    |  | 
    a(href='javascript:openMenu(\'helpMenu\');') Z+click+drag
    |  | 
    a(href='javascript:openMenu(\'helpMenu\');') X+click+drag
    br
    a(href='javascript:openMenu(\'backgroundMenu\');') ⇧ Background
    br
    a(href='javascript:openMenu(\'addMenu\');') ⇧ Add
    br
    a(href='javascript:openMenu(\'replaceMenu\');') ⇧ Delete
    br
    a(href='javascript:openMenu(\'deleteMenu\');') ⇧ Delete
    br    



#rightMenu.gpui.label2(style='position:fixed; top:5px; right:160px; opacity:.8; padding:0; ')
  //input(style='float:left;display:inline;width:155px;', type='users', name='userSearch', placeholder='search', size='32', maxlength='32') 
  div(style="float:left;display:inline; margin-right:10px; ")
    
    div.menuText(style="display:inline")
      a(href="javascript:goToPage('main','null')") Main Page 
        | | 
    #loggedOut(style="display:none")
        //div.menuButton
        a(href='javascript:openMenu(\'loginMenu\');') Login 
    #loggedIn(style="display:none")
      div.menuText(style="display:inline")
        //div.insideNotify(style="width:20px;height:20px;position:relative")
        //div.menuButton       
        div.notifyBox
        | | 
        a(href="javascript:goToPage(currentUser, 'profile');") My Profile 
        | |
        //div.menuButton 
        a(href='javascript:logOut();') Logout


  #fbLike(style='opacity:.8; padding:0;float:right;margin-right:4px;display:none')
    iframe#fblike(src='http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2Fgifpumpercom%2F117231671686998&layout=button_count&show_faces=false&width=100&action=like&font&colorscheme=light&height=21px', scrolling='no', frameborder='0', style='text-align: right; background:none border:none; overflow:hidden; width:80px; height:21px;', allowtransparency='true')

#online.moveable.gpui(style="top:5px; right:10px; cursor:moveable")
    //div.headBar
    div(style="height:18px; padding:2px;") users on this page:

    

      
      

#chatButton(style="display:none; height:30px") 
     | <a href='javascript:openChat();'><img src="http://how2program.com/thumbs/4054_Pixel_chat_icon_._.._.jpg6U4SDMK2R5.jpg",border='0px', height='30px'></a>

div.gpui(id='chat', style="bottom:10px ; position:fixed; right:10px; width:auto; height:auto; padding:0")
   #chatTop.menuTop.chat.label2(style="padding-top:1px;padding-bottom:1px;	opacity: .7;color:red")
    | msg
    .x 
      a(href='javascript:openChat();') x
   #chatBox.chat
   textarea#inputBox.chat(placeholder="type here to chat", onkeyup="doResize()", rows=1, onfocus="typing=true", onblur="typing=false", onKeyPress="enter(event);")
   
#profileContainer.shadow
  div(style="position:absolute;bottom:-15px;right:5px;font-size:13")
    //a(href="javascript:openMenu(\'addMenu\');")
      |Edit Profile Pic

#mainFeedDiv.shadow.userPages
  div(style="padding:5px;font-size:20px;")
    span.label1(style="z-index:20000")
      |active pages:
  #activeNow

//#divUi
#feed.shadow.userPages
    div(style="padding:5px;font-size:20px;")
      span.label1(style="z-index:20000")
        |feed:
    #feedContainer
      
      
#userPages.shadow.userPages
  div(style="padding:5px;font-size:20px;")
    span.label1(style="z-index:20000")
      |pages:
  #pagesList.pageList

#contributePages.shadow.userPages
  div(style="padding:5px;font-size:20px;")
    span.label1(style="z-index:2000000")
      |users:
  #cList.pageList
 
//#versionNav(style="z-index:1000;bottom:5px;left:5px;position:fixed;")

#prevVersionDiv.shadow.twoD(style="display:none;z-index:1000;top:50%;left:0px;position:fixed;")
     a(href="javascript:goToPage(pageData.pageName, null, prevVersion)")
       img(src='http://mousepointers.net/wp-content/uploads/2008/05/arrow-left.gif')
#nextVersionDiv.shadow.twoD(style="display:inline;display:none;z-index:1000;top:50%;right:0px;position:fixed;")  
     a(href="javascript:goToPage(pageData.pageName, null, nextVersion)")
       img(src="http://mousepointers.net/wp-content/uploads/2008/05/arrow-right.gif")   	  

//#whoLikes(style="display:none;padding:5px; position:relative;font-size:12px")
  .x
    a(href='javascript:$(\'#whoLikes\').hide();') x
 
#notifyDiv.menu

#alertDiv(style="padding:10px;background:white;display:none")

#loadingImg(style="padding:0px;width:100%;height:100%;position:fixed;display:none;left:0px;top:0px;text-align: center;opacity:.5;")
  img(,src="http://dump.fm/images/20110501/1304306298412-dumpfm-GucciSoFlosy-loading3.gif",style="height:100%;")
 
#invite.twoD(style="position:fixed; top:0px;padding:20px;left:400px;width:340px;display:none;background:black") 
  div(style="font-size: 50px; color: #ffffff;") Welcome to GIFPUMPER!
  div(style="color: #ffffff; font-size: 18px;")
    | You can try out features on this page, but you'll need an invite to register. If you already have an account, go ahead and 
    a(href="javascript:openMenu(\'loginMenu\')") login
    |. Visit the <a href="http://www.facebook.com/gifpumper">facebook page</a> for updates.

#miniLogo(onclick="javascript:goToPage(\'main\')")
  div.zspin(style='width:25px;float:left;margin-top:-2px')
    img(src="https://s3.amazonaws.com/gifpumper/ui/cd.png",style="width:100%")
  div(style="float:left;position:relative;margin-top:0px")
    div.label2(style="font-size:18px;") GP

#tipDiv(style="position:fixed;bottom:5px;right:5px;opacity:.8;display:none")
    img(src="https://s3.amazonaws.com/gifpumper/ui/space.png", style="width:120px")
    |  
    img(src="https://s3.amazonaws.com/gifpumper/ui/wasd.png", style="width:95px")


//#mainMenu.shadow
  div.headTab
  #accordion
    div.menuHead.label2
      |Edit Page
    div.menuC 
      div.menuDiv.mainMenu 
        a(href='javascript:openMenu(\'addMenu\');')⇧Add
      div.menuDiv.profileOnly 
        a(href='javascript:openMenu(\'addMenu\');')⇧A Profile Image
      div.menuDiv.mainMenu 
        a(href='javascript:openMenu(\'editMenu\');fillEditMenu()')⇧Edit Selection
      div.menuDiv.mainMenu  
        a(href='javascript:openMenu(\'deleteMenu\');')⇧Delete
      div.menuDiv.mainMenu 
        a(href='javascript:openMenu(\'backgroundMenu\');')⇧Background
      div.menuDiv.profileOnly 
        a(href='javascript:openMenu(\'backgroundMenu\');')⇧Background      
    div.menuHead.label2
      |Edit Site
    div.menuC
      |⇧ Edit Site
      br
      |Page Settings
      br
      |Element
    div.menuHead.label2
      |Animations
    div.menuC 
      |Save
    div.menuHead.label2
      |Help
    div.menuC
      |Page
      br
      |Element

<div id="fb-root"></div>
div(id="document_object", style="display:none")=JSON.stringify(getPageData)