#div3d
  #mainDiv.mainDiv


#backgroundMenu.uiClosed(style=' position: fixed; left:100px; top:180px;')
  | backgroud color:
  br
  input#background(style='width:160px;', type='text', name='background', placeholder='color, hex or rgb(0,0,255)', onChange='setBackground("background")', onfocus="typing=true;", onblur="typing=false;")
  br
  | background image:
  br
  input#backgroundImage(style='width:160px;', type='text', name='backgroundImage', placeholder='enter blank space to clear', maxlength='600', onChange='setBackground("backgroundImage")', onfocus="typing=true; ", onblur="javascript:typing=false;")
  br
  div
    a(href='http://gradients.glrzad.com', title='select the code inside ( ); for webkit') gradients.glrzad.com (hvr fr tip)
  .x
    a(href='javascript:openMenu(\'backgroundMenu\');') x

////add/////

#addMenu.uiClosed(name='addMenu', style='position: fixed; left:300px; top:200px; width:160px;')
  | image url:
  br
  input#gifUrlA(style='width:160px;', type='text', name='gifUrlA', placeholder='example: http://blahblah.gif',onfocus="typing=true; ", onblur="typing=false;")
  br
  | repetitions:
  br
  input#addNumber(style='width:160px;', type='text', name='addNumber', value='1', maxlength='1/',onfocus="value=''")
  br
  br
  input#add.button(style='width:160px;', type='button', name='addGif', value='add', onclick="addNewImg()")
  .x(style='position:absolute; right:0; top:0; border: 1px white;')
    a(href='javascript:openMenu(\'addMenu\');') x
// 
////replace/////

#replaceMenu.uiClosed(name='replaceMenu', style='position: fixed; left:300px; top:360px; width:160px;')
  input#gifUrlR(style='width:160px;', type='text', placeholder='http://blahblah.gif')
  br
  form(name='f2')
    input(type='radio', name='replaceType', value='one', checked='CHECKED')
    | last image
    input(type='radio', name='replaceType', value='all')
    | all
  input#replace.button(style='width:160px;', type='button', name='replace', value='replace', onclick="replaceImg()")
  .x
    a(href='javascript:openMenu(\'replaceMenu\');') x
//
////delete/////

#deleteMenu.uiClosed(name='deleteMenu', style='position: fixed; left:200px; top:80px; width:160px;')
  form(name='f1')
    input(type='radio', name='deleteType', value='one', checked='CHECKED')
    | last image
    input(type='radio', name='deleteType', value='all')
    | all
    br
  | (shortcut: Ctrl X)
  br
  input#delete.button(style='width:160px;', type='button', name='delete', value='delete', onclick="deleteImage()")
  .x
    a(href='javascript:openMenu(\'deleteMenu\');') x
//
////last id - hidden/////

input#lastId(type='hidden', name='lastId')
//
////add/////

#helpMenu.uiClosed(name='helpMenu', style='left:100px; top:50px;')
  div(style='background-color:white; padding: 10px; font-size:11; ')
    | Gifpumper is a communal image collage. All changes are seen by everyone
    br
    | instantaneously, enabling realtime collaboration between many users.
    br
    br
    b
      center Instructions:
    br
    br
    b Move
    | image: click and drag
    br
    b Resize
    | : Shift-click and drag
    br
    b Move forward/back
    | : Alt-click and drag up/down
    br
    b Rotate
    | around the
    b Z
    | axes: hold Z key & click and drag left/right
    br
    b Rotate
    | around the
    b X/Y
    | axes: hold X key & click and drag
    br
    b Delete
    | image: first click on image (drag it to make sure) then Cntrl X
    br
    center
      b Page Management
    br
    b Register
    | : click Login and enter a unique username and password and hit Register
    br
    b Create a New Page
    | : go to More Pages enter new page name and hit New Page
    br
    b Save Current Page
    | : go to to More Pages, enter a new name and hit Save As
    br
    | set
    b Privacy
    | levels of a page you created in Page Settings/br
    br
    center
      b Tips
    br
    | most menus can be accessed by hitting Shift and the first letter of the menu
    br
    br
    | replace and delete will effect the last image that was clicked/dragged
    br
    center -------------
    br
    | for questions and suggestions please go to the
    a(href='http://www.facebook.com/pages/gifpumpercom/117231671686998') facebook page
    br
  .x
    a(href='javascript:openMenu(\'helpMenu\');') x
//
////more pages/////

#moreMenu.uiClosed(name='moreMenu', style='left:400px; top:100px; width:160px;')
  select(style='width:160px;', name='mydropdown')
    option more pages over here
    option(value='vietnam') vietnam
    option(value='VIETNĂM') VIETNĂM
    option(value='ffoogg') ffoogg
    option(value='extrascientific') extrascientific
    option(value='i') i
    option(value='AmericanDreams') AmericanDreams
    option(value='seapunk') seapunk
    option(value='yoga') yoga
    option(value='office') office
    option(value='bexlayer') bexlayer
    option(value='ecosystem') ecosystem
    option(value='hauntedinternet') hauntedinternet
    option(value='projects') projects
    option(value='geology') geology
    option(value='sandstorm') sandstorm
    option(value='forest') forest
    option(value='napolian') napolian
    option(value='radz') radz
    option(value='msisland') msisland
    option(value='idgi') idgi
    option(value='bonzai_fun') bonzai_fun
    option(value='mario') mario
    option(value='sigh') sigh
    option(value='thanku') thanku
    option(value='al') al
    option(value='sad_cat') sad_cat
    option(value='aesthetics') aesthetics
    option(value='666') 666
    option(value='smoke_weed') smoke_weed
    option(value='life2') life2
    option(value='doit') doit
    option(value='finger') finger
    option(value='bwra3') bwra3
    option(value='bwra2') bwra2
    option(value='bwra1') bwra1
    option(value='hello') hello
    option(value='glitter') glitter
    option(value='bwacid') bwacid
    option(value='sex') sex
    option(value='big') big
    option(value='nico') nico
  br
  br
  br
  | create new page:
  br
  input(style='width:160px;', type='text',id='newPage', name='newPage', value='enter unique page name', onfocus="value=''")
  br
  input#makeNew.button(type='submit', style='width:78px;', name='makeNew', value='new page',onclick="addPage(false)")
  | 
  input#save.button(style='width:78px;', type='submit', name='save', value='save as',onclick="addPage(true)")
  br
  | *you must login to create your own page
  .x
    a(href='javascript:openMenu(\'moreMenu\');') x
//
////page settings/////

#pageMenu.uiClosed(name='pageMenu', style='left:400px; top:300px;')
  form(name='privacy')
    | Set Page Privacy:
    br
    -var check = false
    -if (privacy==0)
      -check=true
    input(type='radio', name='privacy', value='0',checked=check)
    | public
    br
    -var check = false
    -if (privacy==1)
      -check=true
    input(type='radio', name='privacy', value='1',checked=check)
    | only i can add/remove images
    br
    -var check = false
    -if (privacy==2)
      -check=true
    input(type='radio', name='privacy', value='2',checked=check)
    | only i can make changes
    br
    -var check = false
    -if (privacy==3)
      -check=true
    input(type='radio', name='privacy', value='3',checked=check)
    | only i can see
    br    
  input#pageSettings.button(type='submit', style='width:78px;', name='pageSettings', value='Save',onclick='setPrivacy()') 
  | 
  input#deletePage.button(type='submit', style='width:78px;', name='deletePage', value='Delete Page',onclick='deletePage()')
  .x
    a(href='javascript:openMenu(\'pageMenu\');') x

-if(loggedIn)
     script()
       var user='#{user}'


#loginMenu.uiClosed(name='loginMenu', style=' left:200px; top:150px; width:160px;')
  //div(style="float:left") LOGIN
  //br
  -if(loggedIn)
    script()
      var loggedIn = true
  -else
   script()
      var loggedIn = false
  | Username:
  //span(class="regClass", id="unique",style="display:none;") (must be unique)
  form(action='/login', name='logIn', method='POST', enctype='application/x-www-form-urlencoded')
    input(style='width:155px;', type='text', name='username', value='', size='32', maxlength='32')
    br
    | Password:
    br
    input(style='width:155px;', type='password', name='password', value='', size='32', maxlength='32')
    br
    div(class="regClass", style="display:none;")
      | Password Again:
      br
      input(style='width:155px;', type='password', name='passwordAgain', value='', size='32', maxlength='32')
      | Email: (optional)
      //br 
      //| used for password recovery:
      br
      input(style='width:155px;', type='email', name='email', value='', size='32', maxlength='32')
      br
    br
    //div(style="display:inline; width:100%")
    input.button(type='submit',class="loginClass", name='login', value='login',style='width:78px;')
    input.button(type='submit',class="regClass", name='register', value='register', style="width:78px; display:none;", onclick="javascript:registerFunc(); return false;")
    input.button(type='submit', id="logOut", name='logout', value='logout', style='width:78px;float:right;display:none')
      //br
      //br
      //| 
    div(style="display:inline; position:absolute; right:10px;bottom:10px")
      //div(style="display:inline")=user
      div(style="float:right;display:block",class="loginClass")
        a(href='javascript:switchToRegister();') REGISTER
      div(style="float:right; display:none",class="regClass")
        a(href='javascript:switchToLogin();') LOGIN
  .x
    a(href='javascript:openMenu(\'loginMenu\');') x



//input#console1(class='console1',id='console1', style='background-color:white; width:100%; top:0px; left:0px; margin-left:5px; margin-right:5px; z-index:999;', type='text', value='', size='100')

//#topBar(style="position:fixed;top:0px;left:0;width:100%;height:25px;background:rgba(255,255,255,.5);")

#menuContainer.menu(style="z-index:1000;top:5px;left:5px;position:fixed;")
  -if(loggedIn)
    #editPageButton.menuButton
      a(href='javascript:buttonPress("editPage");') Edit Page
    | |
    #pageButton.menuButton
      a(href='javascript:buttonPress("editPage");') Help
  -else
    a(href='/') GIFPUMPER.COM

#editPageMenu.menu(style="display:none;top:20px;left:5px;position:fixed;")
      -if(owner)
        div.menuDiv 
          a(href='javascript:openMenu(\'pageMenu\');') ⇧P Page Settings
      div.menuDiv 
        a(href='javascript:openMenu(\'backgroundMenu\');') ⇧B Background
      //div.shortCut 
      div.menuDiv 
        a(href='javascript:openMenu(\'addMenu\');') ⇧A Add
      div.menuDiv 
        a(href='javascript:openMenu(\'replaceMenu\');') ⇧R Replace
      div.menuDiv 
        a(href='javascript:openMenu(\'deleteMenu\');') ⇧D Delete

 


  
#editPageMenu.menu(style="display:none;top:30px;left:80px;position:fixed;")
      a(href='javascript:openMenu(\'backgroundMenu\');') ⇧B Background
      //div.shortCut 
      br
      a(href='javascript:openMenu(\'addMenu\');') ⇧A Add
      br
      a(href='javascript:openMenu(\'replaceMenu\');') ⇧R Replace
      br
      a(href='javascript:openMenu(\'deleteMenu\');') ⇧D Delete



      //br 
//
 #shortMenu.moveable(style='position:fixed; left:10px; top:10px; z-index:999')
  div(style='float:left;')
    a(href='javascript:openMenu(\'helpMenu\');') ⇧+click+drag
    |  | 
    a(href='javascript:openMenu(\'helpMenu\');') ⌥ (alt)+click+drag
    |  | 
    a(href='javascript:openMenu(\'helpMenu\');') Z+click+drag
    |  | 
    a(href='javascript:openMenu(\'helpMenu\');') X+click+drag
    br
    a(href='javascript:openMenu(\'backgroundMenu\');') ⇧ Background
    br
    a(href='javascript:openMenu(\'addMenu\');') ⇧ Add
    br
    a(href='javascript:openMenu(\'replaceMenu\');') ⇧ Delete
    br
    a(href='javascript:openMenu(\'deleteMenu\');') ⇧ Delete
    br    
    // <a href="javascript:openMenu('faceMenu');">&#x21E7; Facebook</a><br> 
    // <a href="javascript:openMenu('comments');">&#x21E7; Comments</a><br> 
    a(href='javascript:openMenu(\'helpMenu\');') ⇧ Help
    br
    | |
    a(href='javascript:openMenu(\'moreMenu\');') ⇧ More Pages 
    | |
    a(href='javascript:animate();') Animate
    br

#rightMenu(style='position:fixed; top:5px; right:150px; opacity:.8; padding:0; height:10px')
  div(style="height:100%; float:left; padding-right:20px")
    input(style='width:155px;', type='users', name='userSearch', placeholder='search', size='32', maxlength='32') 
    |  | 
    a(href="javascript:goToPage('main','null')") Main Page 
    | |
    -if(!loggedIn)
      //div.menuButton
      a(href='javascript:openMenu(\'loginMenu\');') Login 
    -if(loggedIn)
      //div.menuButtonP
      a(href="javascript:goToPage(user, 'profile');") My Profile 
      | | 
      a(href='javascript:logOut();') Logout 
     


  div(style='opacity:.8; padding:0;float:right')
    iframe#fblike(src='http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2Fgifpumpercom%2F117231671686998&layout=button_count&show_faces=false&width=100&action=like&font&colorscheme=light&height=21px', scrolling='no', frameborder='0', style='text-align: right; background:none border:none; overflow:hidden; width:80px; height:21px;', allowtransparency='true')

#online.moveable(style="top:5px; right:10px; cursor:moveable")
   //div.headBar
   div(style="height:18px; padding:2px;") users online:




#chatButton(style="display:none; height:30px") 
     | <a href='javascript:openChat();'><img src="http://how2program.com/thumbs/4054_Pixel_chat_icon_._.._.jpg6U4SDMK2R5.jpg",border='0px', height='30px'></a>

div(id='chat', style="bottom:10px ; position:fixed; right:10px; width:auto; height:auto; padding:0")
   #chatTop.menuTop.chat(style="padding-top:1px;padding-bottom:1px;	opacity: .7;")
    | chat
    .x 
      a(href='javascript:openChat();') x
   #chatBox.chat
   textarea#inputBox.chat(placeholder="type here to chat", onkeyup="doResize()", rows=1, onfocus="typing=true", onblur="typing=false", onKeyPress="enter(event);")
   
#profileContainer.shadow
  div(style="position:absolute;bottom:-15px;right:5px;font-size:13")
    //a(href="javascript:openMenu(\'addMenu\');")
      |Edit Profile Pic
   
#userPages.shadow.userPages
  div(style="padding:5px;font-size:20px;")
    a()
      |pages:
  #pagesList.pageList

#contributePages.shadow.userPages
  div(style="padding:5px;font-size:20px;")
    a()
      |users:
  #cList.pageList
 
///////////////
////////MAIN
////////// 
